<%- include('../includes/head.ejs') %>
<div class="page-100-task-add">
  <div class="up">
    <h2 class="form-add-container">Add Task Form</h2>
    <form class="form-add-container" action="/task" method="post">
      <% if(users.length>=1){ %>

      <div class="form-row select-tag">
        <label>select user</label>
        <select name="userId" id="user">
          <% users.forEach(function(user) { %>

          <option value="<%= user.id %>"><%= user.name %></option>
          <% }); %>
        </select>
      </div>
      <div class="form-row">
        <label name="desc">Add Task</label>
        <textarea name="desc"> </textarea>
      </div>
      <h5>Please select task status:</h5>
      <div class="check-box">
        <input type="radio" id="done" name="task_status" value="done" />
        <label for="done">done</label><br />
      </div>
      <div class="check-box">
        <input type="radio" id="pending" name="task_status" value="pending" />
        <label for="pending">pending</label><br />
      </div>

      <button class="main-btn">submit</button>
    </form>

    <% } else{ %>
    <h1>sorry no user</h1>
    <% } %>
    <!-- <h5>Add Tak</h5> -->
  </div>
  <div class="line"></div>
  <div class="show-task-container">
    <div class="show-task-container-head">
      <h3>all task</h3>
      <div class="">
        <% if(AllUserTask.length>=1){ %>
        <button class="main-btn-two">
          <a href="/excel-user"> print user</a>
        </button>
        <button class="main-btn-two">
          <a href="/excel-task"> print task</a>
        </button>
        <% } else{ %> <% } %>
      </div>
    </div>
    <div class="show-task-container-box">
      <% if(AllUserTask.length>=1){ %> <% AllUserTask.forEach(function(user) {
      %>
      <div class="task">
        <h5>user : <span> <%=user.name%></span></h5>
        <% user.task.forEach(function(task) { %>

        <h5>task : <span> <%=task.desc%> </span></h5>
        <p>status : <span><%=task.status%></span></p>
        <div class="line-2"></div>
        <% }); %>
      </div>
      <% }); %> <% } else{ %>
      <h1>sorry no task</h1>
      <% } %>
    </div>
  </div>
</div>

<!-- <div class="show-task-container">
  <h3>sorry no tasks exsist</h3>
</div> -->

<%- include('../includes/footer.ejs') %>
